<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="exportStatisticsExcelJob" />
            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="exportStatisticsExcelTrigger" />
            </list>
        </property>
    </bean>

    <!-- export today's statistics excel every 23:00-->
    <bean id="exportStatisticsExcelJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="exportStatisticsExcelTask"/>
        <property name="targetMethod" value="execute"/>
    </bean>
    <bean id="exportStatisticsExcelTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="exportStatisticsExcelJob"/>
        <property name="cronExpression" value="0 0 23 * * ?"/>
    </bean>
</beans>